# ETL (Ingeniería de Datos)

### Importar Librerías

In [1]:
import pandas as pd
import sys
import os

In [2]:
# Obtener el directorio de trabajo actual
current_dir = os.getcwd()

# Navegar hacia el directorio raíz del proyecto
project_root = os.path.abspath(os.path.join(current_dir, '..'))

# Agregar la ruta del proyecto al sys.path
sys.path.append(project_root)

Importar funciones para ETL

In [3]:
from functions.ETL import load_data, normalize, export

## Extracción de datos

Ruta del archivo:

In [4]:
path = r'..\data\users_items.json.gz'

Extracción y Visualización de datos

In [5]:
df = load_data(path)
df.head()

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."

## Transformación de los Datos

Desanidación de la columna 'items' con la función normalize(df, col)

In [6]:
items = normalize(df, 'items')
items.head()

,user_id,items_count,steam_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10,Counter-Strike,6.0,0.0
1,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,20,Team Fortress Classic,0.0,0.0
2,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,30,Day of Defeat,7.0,0.0
3,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,40,Deathmatch Classic,0.0,0.0
4,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,50,Half-Life: Opposing Force,0.0,0.0

Eliminar columnas innecesarias. <br>
- user_id se comparte entre este dataset y user_reviews, al igual que user_url.
- item_name no es necesatio teniendo el item_id que conecta directamente con steam_games.

In [8]:
final_items = items.drop(columns=['steam_id', 'user_url', 'item_name', 'playtime_2weeks'])

In [9]:
final_items.head()

             user_id  items_count item_id  playtime_forever
0  76561197970982479          277      10               6.0
1  76561197970982479          277      20               0.0
2  76561197970982479          277      30               7.0
3  76561197970982479          277      40               0.0
4  76561197970982479          277      50               0.0

## Carga de Datos

Se guarda el archivo trabajado en formato parquet y CSV en sus carpetas correspondientes para ser trabajados de acuerdo a la situación. Si los directorios no existen, se crean.

In [10]:
export(final_items, project_root, 'user_items')

Archivos exportados exitosamente.